.App {
  text-align: center;
}

.Title {
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px;
  display: block;
}

.Title img {
  width: 150px;
}

.Form {
  display: inline;
}

.Form--hidden {
  display: hidden;
}
